dRiftDM.Rproj
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.directory
src/*.o
src/*.so
src/*.dll
inst/doc
data-raw
playground*
.Rprofile
tutorial/drift_dm_fits
tutorial/figures
tutorial/figure
tutorial/*.Rmd
tutorial/*.md
tutorial/*.html
cran-comments.md
docs
/doc/
/Meta/
revdep
